.full{
  height: 150px;
  background-color: black;
}

.third{
  background-color: green;
  height: 150px;
}

.two-thirds{
  background-color: red;
  height: 150px;
}

.quarter{
  background-color: blue;
  height: 150px;
}

.half{
  background-color: yellow;
  height: 150px;
}
.no-gap{
  margin: 0px;
  padding: 0px;
}
